.RegisterContainer {
  display: flex;
  height: 100%;
  width: 100%;
  /* border: 2px solid green; */
  font-family: "Roboto", sans-serif;
}

.RegisterContainer-LeftPart {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 55%;
  /* border: 2px solid red; */
}

.RegisterContainer-LeftPart-TopContent {
  display: flex;
  flex-direction: column;
  /* border: 2px solid green; */
  margin-top: 8%;
  width: 65%;
}

.RegisterContainer-LeftPart-Heading {
  font-size: 40px;
  font-weight: 700;
  align-items: center;
}

.RegisterContainer-LeftPart-Sub-Heading {
  font-size: 21px;
  font-weight: 500;
  line-height: 30.24px;
}

/* MID CONTENT */
.RegisterContainer-LeftPart-MidContent {
  /* border: 2px solid crimson; */
  margin-top: 2%;
  width: 65%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.RegisterContainer-LeftPart-MidContent > input {
  border: 2px solid #c2c2c2;
  height: 10%;
  border-radius: 5px;
  padding-left: 2%;
}

/* Bottom Content */
.RegisterContainer-LeftPart-BottomContent {
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  width: 65%;
  height: 15%;
  margin-top: 2%;
  justify-content: center;
}

.RegisterContainer-LeftPart-BottomContent-Button {
  width: 45%;
  height: 45%;
  margin-bottom: 5%;
  background: #ed5353;
  color: beige;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
}
