.NavbarContainer {
  display: flex;
  width: 100%;
  height: 10vh;
  justify-content: center;
  align-items: center;
}

.NavbarContainer > img {
  display: flex;
  width: 100%;
  height: 100%;
}

.NavbarContainer-Buttons {
  display: flex;
  position: absolute;
  /* border: 2px solid rgb(255, 255, 255); */
  right: 0;
  margin-right: 4%;
  height: 10%;
  min-width: 25%;
  justify-content: space-around;
  align-items: center;
}

.NavbarContainer-Profile {
  display: flex;
  /* border: 2px solid red; */
  min-width: 100%;
  justify-content: space-around;
  align-items: center;
}

.NavbarContainer-Profile > div {
  display: flex;
  /* border: 2px solid blue; */
  width: 75%;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.NavbarContainer-Profile > div > div {
  /* border: 2px solid red; */
  border-radius: 50%;
  height: 40px;
  width: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavbarContainer-Profile > div > div > img {
  display: flex;
  height: 20px;
  width: 50%;
}

.NavbarContainer-Profile > button {
  display: flex;
  height: 45px;
  width: 25%;
  justify-content: center;
  align-items: center;
  /* border: 2px solid white; */
  background: none;
  border-radius: 7px;
  color: white;
  border: none;
  font-weight: 600;
}

.NavbarContainer-Buttons > button {
  height: 45%;
  width: 35%;
  outline: none;
  border-radius: 7px;
  font-weight: 700;
}

.LoginButton {
  background: #ff6b6b;
  color: #ffffff;
  border: 2px solid white;
}

.RegisterButton {
  background: white;
  color: #ff6b6b;
  border: none;
}
