.LoginContainer-RightPart {
  width: 45%;
  display: flex;
  flex-direction: column;
  /* border: 2px solid salmon; */
  align-items: center;
  height: 100%;
}

.LoginContainer-RighttPart-Heading {
  margin-top: 5%;
  background: none;
  position: fixed;
  color: white;
  font-weight: 500;
  font-size: 30px;
}

.LoginContainer-RighttPart-Image {
  background-image: url("../../asset/background.png");
  width: 100%;
  height: 100%;
}
