.ShowJobsPageContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  /* justify-content: center; */
  align-items: center;
  overflow-y: auto;
}

.TopNamedComponentContainer {
  display: flex;
  position: relative;
  border: 2px solid red;
  width: 80%;
  height: 12%;
  margin-top: -1%;
  /* bottom: 83%; */
  background: white;
  justify-content: center;
  align-items: center;
}

.ShowJobsPageContainer-MainContent {
  display: flex;
  width: 70%;
  border: 2px solid rgb(89, 42, 165);
  height: 100%;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  margin-top: 2%;
}
