.InputContainer {
  display: flex;
  /* border: 2px solid red; */
  height: 100%;
  margin-top: 2%;
  /* align-items: center; */
  flex-direction: column;
}

.InputContainer > input {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  padding-left: 2%;
  outline: none;
  border: 1px solid #c2c2c2;
  margin-bottom: 1%;
}

.InputContainer > label {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid magenta; */
}
